# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/
*.egg
dist/
build/

# Virtualenv
venv/
.env/
.env
venv\

# Editor
.vscode/
.idea/
*.swp

# Token and secrets
*.secret
token.txt
.env

# OS files
.DS_Sto
Thumbs.db
